.profile {
    color: #FFFFFF;
    max-width: 880px;
    margin: 0 200px 50px 200px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 767px) {
    .profile {
        max-width: 282px;
        margin: 0 19px 36px 19px;
        flex-direction: column;
    }
}