.popup__close {
    width: 40px;
    height: 40px;
    background: transparent url("../../../images/Close\ Icon.svg") center;
    background-size: auto;
    border: none;
    background-color: black;
    padding: 0;
    position: absolute;
    top: -40px;
    right: -40px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__close {
        width: 26px;
        height: 26px;
        right: 0;
    }
}