.footer {
    max-width: 318px;
    color: #545454;
    margin: 66px 762px 60px 200px;
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: 282px;
       margin: 48px 19px 36px 19px;
    }
}